* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#gl-canvas {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    grid-column: 2;
    grid-row: 2;
}

.grid-container {
    max-width: 50%;
    min-width: 360px;
    display: grid;
    gap: 3px;
    grid-template-columns: 30px, minmax(300px, 100%), 30px;
}